body {
  padding: 0 12vmin;

  background-color: #FFFFFF;

  color: #333333;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  margin: 11vmin 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 2.2vmin;

  list-style-type: none;
}

a {
  color: #0070C9;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.52947;
  letter-spacing: -0.021em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  max-width: 500px;

  font-weight: 500;
  font-size: 56px;
  line-height: 1.10746;
  letter-spacing: 0.004em;
}

@media only screen and (max-width: 735px) {
  p {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0;
  }
}
